@CHARSET "UTF-8";

.firstPageBody1{
background-image:url(../img/1.jpg);
	text-align: center;
	margin-top: 16%;
	margin-left: 5%;
    font-family: 华文行楷;
	font-size: 40px;
	color:#a36f5c;
}
.firstPageDiv2{	
	margin-top: 15%;
	color:#8000ff;
	font-family:楷体;
	font-size: 20px;
}

.loginDiv1 {
	font-family: 黑体;
	font-size: 18px;
	width: 400px;
	hight: 300px;
	text-align: center;
	margin-top: 16%;
	margin-left: 20%;
}
.loginInput{
	height: 30px;
	width: 200px;
	background-color: #03a2a5;
	border-color: #484244;
}

.login2Div{
	margin-top: 19%;
	font-family: 华文行楷;
	font-size: 40px;
	color: #5ebb00;
	font-weight: bold;
	text-align: center;
}
.loginFailBody{
	font-family: 华文行楷;
	font-size: 40px;
	color: #ff0080;
	font-weight: bold;
	text-align: center;
	margin-top: 25%;
	
}

.loginOKSpan1 {
	font-family: 宋体;
	font-size: 20px;
	color: #0080ff;
	font-weight: bold;
	text-align: left;
}

/* .loginOKp {
	margin-top: 16%;
	margin-left: 0%;
	font-family: 华文行楷;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: red;
	font-weight: bold;
} */

.loginOKm{
	font-family: 华文行楷;
	font-size: 40px;
	font-weight: bold;
	color: #09cdf7;
	font-weight: bold;
}

.loginOKTable1{
	
	
}













